<h1>
  {{title}}
</h1>
<p> {{body}} </p>
<hr>
<div>
    <div class="span6">
        <h1>Musinvest</h1> {{summary}}
    </div>
    <div class="span6">
        <h3> {{signupSubHeader}} </h3>
        <form accept-charset="UTF-8" action="" class="form-horizontal" method="post" novalidate="novalidate">
            <div>
                <div class="control-group">
                    <label class="control-label" for="user_email"> <abbr title="required">*</abbr> Email</label>
                    <div class="controls">
                        <input autofocus="autofocus" class="" id="user_email" name="user[email]" size="50" type="email" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_first_name">First Name</label>
                    <div class="controls">
                        <input name="user[first_name]" size="50" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_last_name">Last Name</label>
                    <div class="controls">
                        <input id="user_last_name" name="user[last_name]" size="50" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label> {{confMsg}} </label>
                </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" name="commit" type="submit" value="Join Musinvest!">
            </div>
            <div class="control-group">
                <div class="controls">
                    <label> <a href="/signin">Sign in</a> </label>
                </div>
            </div>
        </form>
    </div>
</div>
