<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Logo</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li><a href="#!">Home</a></li>
        <li><a [routerLink]="['/featured']">Featured</a></li>
        <li><a [routerLink]="['/discover']">Events</a></li>
        <li><a [routerLink]="['/picks']">Crowd Picks</a></li>
        <li><a [routerLink]="['/discover']">Discover</a></li>
        <li><a *ngIf="!loginService.isLoggedIn()" [routerLink]="['/signin']">Sign In</a></li>
        <li><a class="btn" *ngIf="!loginService.isLoggedIn()" [routerLink]="['/signup']">Join us, It's FREE</a></li>            
      </ul>
    </nav>
  </div>
</section>
<div class="color"></div>
<router-outlet></router-outlet>
