<header id="header">
    <a id="home-icon" routerLink="/"></a>
        <div id="menu">
            <a [routerLink]="['/featured']">Featured</a>
            <a [routerLink]="['/picks']">Crowd Picks</a>
            <a [routerLink]="['/discover']">Discover</a>
   <!-- <input class="search-query navbar-search in" type="text" name="search" size="50" placeholder="Search Musinvest">-->
            <a *ngIf="!loginService.isLoggedIn()" [routerLink]="['/signin']">Sign In</a>
            <a *ngIf="!loginService.isLoggedIn()" [routerLink]="['/signup']">Join us, It's FREE</a>
            <a *ngIf="loginService.isLoggedIn()" (ng-click)="loginService.logout()">Logout</a>
        </div>
</header>
<div class="color"></div>
<router-outlet></router-outlet>