@import '../shared/partials/_imports.scss';
// Navigation Variables


// Outer navigation wrapper
.navigation {
  height: $nav-height;
 // background: $nav-background;
  &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: relative;
      display: inline-block;
      border: 0;
      background: $futureGray;
      background-image: linear-gradient(to right, $futureRed, #876a6a, $futureGray) !important;
    }
}

// Logo and branding
.brand {
  position: absolute;
  left:100px;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a, a:visited {
    color: $nav-font-color;
    text-decoration: none;
    font-size: 4.4em;
    font-family: 'Titillium Web', sans-serif;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a, a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        color: $nav-font-color;
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif;
        font-size: 2.8em;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  .brand {
    left: 13px;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.btn {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    margin-top: 18px;
    font-weight: 400;
    line-height: 1.42857143 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    color: $white !important;
    background-image: linear-gradient(to top, $gradStart, $gradTrans, $gradStop);;
    border-color: $futureButtons;
    &:hover {
        background-color: $futureLinks;
        border-color: $futureLinks;
    }
}