#header {
  height: 55px;
  background: rgba(0,0,0,0.9);
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;
}

#header h1#logo {
  float: left;
  margin: 0;
}

a {
  margin:30px;
  text-decoration: none;
  color: gray;
}

#header h1#logo a {
  background: url(../images/logo.png) no-repeat top left;
  width: 194px;
  height: 48px;
  margin: 8px;
  display: block;
  text-indent: -9999px;
}

#header .router-link-active {
  color:white;
}

#header .color {
  display: block;
  height: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
}

#header #menu {float:left;padding:23px 40px 0 0;}
#header .sign {float:right;padding:23px 40px 0 0;}

#container {padding:100px 20px 20px 20px;}

.color {
  background-color: rgba(195, 30, 30, 1) !important;
}

.shadow {
  background: url(../images/top-shadow.png) repeat-x;
  height: 35px;
  position: fixed;
  top: 68px;
  width: 100%;
}
