<div id="header-wrap">
<header id="header" class="">
    <h1 id="logo" class="">
    <a [routerLink]="['/']"></a>
  </h1>

    <div id="menu" class="control-group">
        <a [routerLink]="['/featured']">Featured</a>
        <a [routerLink]="['/picks']">Crowd Picks</a>
        <a [routerLink]="['/discover']">Discover</a>
    </div>
    <input class="search-query navbar-search" style="margin-top:10px" type="text" name="search" size="50" placeholder="Search Musinvest">
    <div class="sign">
        <a [routerLink]="['/signin']">Sign In</a>
        <a [routerLink]="['/signup']">Sign Up</a>
    </div>
</header>
<div class="color"></div>
</div>
    <div id="container">
        <router-outlet></router-outlet>
    </div>