@import '../shared/partials/_imports';
* {
    box-sizing: border-box;
}

.artwork-container {
    top: 15px;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    .artwork {
        display: inline-block;
        margin: 10px;
    }
}

.artwork-image-cover  {
    @include setArtworkDimensionsTo(300px, 300px);
}

.artwork {
    a {
        text-decoration: none;
        color: $black;
    }
    &:hover {
        .artwork-title {
            background-color: $futureArtWorkRed;
        }
        p {
            color: $white;
            transition: 0.6s;
        }
    }
}

.artwork-title {
    background: $futureLightGray;
    text-align: center;
    transition: 0.5s;
    p {
        margin: 0 !important;
        font-size: 3em;
        font-family: 'Titillium Web', sans-serif;
        padding: 10px;
    }
}

/* Nokia Lumia 520, iPhone 4 and 5 */
@media only screen and (min-width: 320px) {

}

/* BlackBerry Z30, Galaxy Note 2 and 3, Nexus 5, Nokia N9, Galaxy S5 */
@media only screen and (max-width: 360px){
}

/* iPhone 6*/
@media only screen and (max-width: 375px) {
}

/* LG Optimus L70, Nexus 4 */
@media only screen and (max-width: 384px) {
}

/* Nexus 5X */ 
@media only screen and (max-width: 411px) {
}

/* Nexus 6 */
@media only screen and (max-width: 412px) {
}

/* iPhone 6 Plus */
@media only screen and (max-width: 414px) {
}

/* Nexus 6P */
@media only screen and (max-width: 435px) {
}

@media only screen and (max-width: 500px){

}

/* Blackberry Playbook, Nexus 7 */
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 700px){

}

/* iPad, iPad Mini */
@media only screen and (max-width: 768px) {
}

/* Nexus 10 */
@media only screen and (max-width: 800px) {
}


/* Laptop with MDPI screen, Laptop with Touch */
@media only screen and (max-width: 1280px) {
}


/* Laptop with HiDPI screen*/
@media only screen and (min-width: 1440px) {

}

/* Kindle Fire HDX */
@media only screen and (min-width: 1600px) {

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}