<div *ngIf="!loginService.isLoggedIn()" class="log-container top slideRight">
        <span><h1 class="slideRight">
	          {{title}}
        </h1></span>
        <p class="fadeIn">
          {{body}}
        </p>
        <hr class="sleek-line">
      <div class="left-content">
          <h2>{{head}}</h2>
          <h4>{{summary}}</h4>
      </div>
      <div class="right-content">
            <p> {{signInSubHeader}} </p>
            <form #loginCtrl="ngForm" #event (submit)="signIn(event)" accept-charset="UTF-8" class="form-horizontal" method="post" novalidate="novalidate">
              <div class="controls-container">
                <div class="control-group">
                  <label for="email">Email</label>
                  <div class="controls">
                    <input required [(ngModel)]="email" name="email" ngControl="emailCtrl" class="text-field" autofocus="autofocus" size="50" type="email" value="" placeholder="example@domain.com">
                  </div>
                </div>
                <div class="control-group">
                  <label for="password">Password</label>
                  <div class="controls">
                    <input required [(ngModel)]="password" name="password" ngControl="passwordCtrl" class="text-field" id="user_password" size="50" type="password" placeholder="Your current password with us">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <input [disabled]="!loginCtrl.form.valid" class="btn" name="commit" type="submit" value="Sign Me In">
                    <a id="join-us" href='signup'>New here? Join us!</a>
                    <a id="recover-password" href='recover'>Forgot Password?</a>
                  </div>
                </div>
              </div>
            </form>
      </div>
</div>
