@mixin center-element-absolutely {
    position: absolute;
    top: 50%;
    left: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
}

@mixin center-element-relatively-y {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin center-element-relatively-x {
    position: relative;
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

}

@mixin center-element-using-margins {
    display: block;
    margin-right: auto;
    margin-left: auto !important;
    text-align: center;
}

@mixin heading($pos: relative, $spaces: 0 0 15px 0, $fsize: 2.5em, $ffamily: 'Titillium Web') {
    position: $pos;
    margin: $spaces;
    font-size: $fsize;
    font-family: $ffamily, sans-serif;
}

@mixin setArtworkDimensionsTo($x:50px, $y:50px) {
    width: $x;
    height: $y;
}