$black: #000;
$white: #fff;
$futureDarkGray: #333;
$futureLightGray: #848181;
$futureLineTrans: #876a6a;
$futureRed: #a50a08;
$futureArtWorkRed: #e81e28;
$futureGray: #ccc;
$content-width: 1000px;
$breakpoint: 875px;
$nav-height: 70px;
$nav-background: #000;
$nav-font-color: $futureLightGray;
$link-hover-color: #2581DC;
