$black: #000;
$white: #fff;
$futureDarkGray: #333;
$futureLightGray: #848181;
$futureLineTrans: #876a6a;
$futureRed: #a50a08;
$futureArtWorkRed: #e81e28;
$futureGray: #ccc;
$futureLabels: #aaafb7;
$futureLinks: #2b669a;
$futureButtons: #337ab7;
$content-width: 1000px;
$breakpoint: 875px;
$nav-height: 70px;
$nav-background: #000;
$nav-font-color: $futureLightGray;
$link-hover-color: #2581DC;
$gradStart: rgb(45, 12, 12);
$gradTrans: #674d4d;
$gradStop: #bc3432;

/* Smartphones (portrait and landscape) ----------- */
$smartPortLand: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";



/* Smartphones (landscape) ----------- */
$smartLand: "only screen and (min-width : 321px)";



/* Smartphones (portrait) ----------- */
$smartPort: "only screen and (max-width : 320px)";



/* iPads (portrait and landscape) ----------- */
$iPadPortLand: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";



/* iPads (landscape) ----------- */
$iPadLand: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";



/* iPads (portrait) ----------- */
$iPadPort: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";


/**********
iPad 3
**********/
$iPad3Land: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)";



$iPad3Port: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)";


/* Desktops and laptops ----------- */
$LapDesk: "only screen  and (min-width : 1224px)";



/* Large screens ----------- */
$LapDeskLarge: "only screen  and (min-width : 1824px)";



/* iPhone 4 ----------- */
$iPhone4Land: "only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)";



$iPhone4Port: "only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)";



/* iPhone 5 ----------- */
$iPhone5Land: "only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)";



$iPhone5Port: "only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)";



/* iPhone 6 ----------- */
$iPhone6Land: "only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)";



$iPhone6Port: "only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)";



/* iPhone 6+ ----------- */
$iPhone6PlusLand: "only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)";



$iPhone6PlusPort: "only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)";



/* Samsung Galaxy S3 ----------- */
$GalaxyS3Land: "only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)";



$GalaxyS3Port: "only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)";



/* Samsung Galaxy S4 ----------- */
$GalaxyS4Land: "only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)";



$GalaxyS3Port: "only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)";



/* Samsung Galaxy S5 ----------- */
$GalaxyS5Land: "only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)";



$GalaxyS5Port: "only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)";

